body{
  background-color: #476088;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

.container{
  display: flex;
  justify-content: center;
  width: 600px;
  gap: 20px;
}

.categories{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 150px;
  height: 250px;
  background-color: #1ca081;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
}


h1{
  text-align: center;
  margin-top: 100px;
  color:white;
}

.name{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
}

a{
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
}

.categories:hover{
  cursor: pointer;
  background-color: #3e8e41;
}

.categories:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

