body{
  background-color: #476088;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}
/* .h1Sett{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container{
  display: flex;
  justify-content: center;
  width: 600px;
  gap: 20px;
}

.children{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 200px;
  height: 200px;
  background-color: #1ca081;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
}

h1{
  text-align: center;
  margin-top: 200px;
  color:white;
}

.name{
  display: flex;
  gap: 130px;
  justify-content: center;
  margin-top: 10px;
  color: white;
}


.children:hover{
  cursor: pointer;
  background-color: #3e8e41;
}

.children:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

