body{
  background-color:#476088;
  /* background: url("/images/theme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px; */
}


#logo{
  display: flex;
  justify-content: center;
  margin: auto;
}

img{
  width: 400px;
}

#startBtn{
  width: 120px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 2px 2px #caebe3;
  border: none;
}

#Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


#startBtn:active{
  background-color: #b3ff00;
  color: black;
  transform: translateY(4px);
}

#settingDiv{
  display: flex;
  justify-content: right;
  margin-right: 40px;
  margin-top: 20px;
}

#settingBtn{
  width:35px;
  height: 35px;
  border-radius: 20%;
  border: none;
  background-color: #ffffff;
}

#settingLogo{
  color: rgb(0, 0, 0);
  width: 20px;
}


#settingLogo:active{
  color: black;
  box-shadow: 1px 2px 2px #95240475;
}


#settingBtn:active{
  background-color: #9dff00;
  transform: translateY(4px);
}

a{
  text-decoration: none;
  /* color: white; */
}
